* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    #header {
        position: fixed;
        background-color: rgba(255, 255, 255, .75);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgba(65, 65, 65, 0.5);
        text-align: center;
        padding: 1rem;
    }

    #main {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 6rem;
        row-gap: 1rem;

        .card {
            width: 90%;
            height: fit-content;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: rgb(228, 228, 228);

            #buttons {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 0.4rem 0;
                    font-size: 1.1rem;
                    width: 100%;
                    outline: none;
                }

                .read, .add {
                    background-color: rgb(177, 255, 177);
                    color: rgb(0, 36, 0);
                    border: 1px solid green;
                    border-radius: 0.2rem;
                }

                .remove {
                    background-color: rgb(255, 177, 177);
                    color: rgb(36, 0, 0);
                    border: 1px solid red;
                    border-radius: 0.2rem;
                }
            }

            input {
                background-color: transparent;
                border: none;
                outline: none;
            }

            .author-name {
                font-size: 1rem;
            }

            .book-name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 0;
            }

            h2, p, input {
                grid-column: 1/4;
            }

            h2 {
                margin-top: 0;
            }
        }

        .card * {
            margin-top: 0.4rem;
        }
    }
}