$big-font: 22px;
$medium-font: 20px;
$small-font: 16px;
$dark-gray: rgb(28, 28, 28);
$border-radius: 6px;
$padding-big: 14px;
$padding-small: 8px;
$border: 1px solid black;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    display: flex;
}

#main {
    width: 100%;
    height: fit-content;
    padding: $padding-big;  
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: $padding-big;
    column-gap: $padding-big; 
}

.book-input {
    padding: $padding-big;
    border: $border;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: $padding-big;

    input[type=text], h1, h2 {
        padding: $padding-small * 0.5;
        border: $border;
        outline: none;
        font-weight: lighter;
        width: 100%;
    }

    input[type=text]::placeholder {
        color: $dark-gray;
    }

    #book-name-input, h1 {
        font-size: $big-font;
    }

    #book-author-input, h2 {
        font-size: $medium-font;
    }

    .read-checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        input[type=checkbox] {
            cursor: pointer;
            border: $border;
            margin: auto $padding-small auto 0;
        }

        #read-label {
            font-size: $small-font;
            font-weight: lighter;
        }
    }

    button {
        font-size: $small-font;
        cursor: pointer;
        border: $border;
        background-color: white;
        outline: none;
    }

    button[class^="remove-"]:hover {
        background-color: rgb(201, 101, 101);
    }

    button:hover {
        background-color: lightgreen;
    }
}